// import NewClass from '../../game/___/class_name.js';

import * as lz_game_object from '../../lz/lz_game_object.js';
import * as PIXI from 'pixi.js';

'use strict';

export const NewClass = (function(){

class NewClass extends lz_game_object.LzGameObject {

  constructor(runtime){
    super(runtime);
    
    
  };

};

return NewClass;

})();

export default NewClass;
